Harrods/Tests/Employees/UnitTest/Connected Services/EmployeeServiceSOAP/EmployeeServiceHost1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Harrods.Service.Employees.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Harrods.Service.Employees.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EmployeeEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeEntity" nillable="true" type="tns:EmployeeEntity" />
  <xs:complexType name="AddressEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
      <xs:element minOccurs="0" name="Line1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POBox" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressEntity" nillable="true" type="tns:AddressEntity" />
  <xs:complexType name="ExceptionFaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseException" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExceptionFaultContract" nillable="true" type="tns:ExceptionFaultContract" />
  <xs:complexType name="ArrayOfEmployeeEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeEntity" nillable="true" type="tns:EmployeeEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeEntity" nillable="true" type="tns:ArrayOfEmployeeEntity" />
</xs:schema>